sudo: false
language: node_js
cache:
  yarn: true
  directories:
    - ~/.npm
notifications:
  email: false
node_js: '8'
install: yarn install
script: yarn validate
after_success: kcd-scripts travis-after-success
branches:
  only: master
